/*position

float:left; estomueve todo a la izquierda
position: static|relative|obsolute|flex|sticky
static: este le da el lugar que le corresponde en el flujo

propiedades offset : esot mueve un elemto posicionado
por top bottom right left*/