:root{
    --colorprin:rgba(107,7,2,42);
    --colorsegun:rgba(184,13,4,72);
    --colorterc:rgba(125,125,125,42);
    --colorart:rgba(97,25,25,38);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.p00{
padding:10px;
text-align: right;
background-color: var(--colorsegun);
margin: 0;
}
.spam00{
 
}
.img00{
    width: 10rem;
}
.barra01{
    background-color: var(--colorprin);
    text-align: center;
    position: fixed;
    width: 100%;
    /*height: 10vh;esto es temporal  para acompdar el 
    cuerpo00*/
    margin-top: -1rem;
    box-shadow: 0 15px 15px 0 rgba(0,0,0.10);
    z-index: 2;
    
    
}
.nav00{
    background-color: var(--colorprin);
    text-align: center;
    
    bottom: 0.5rem;
    
}
a{
    text-decoration-line: none;
    color:black;
    font-size: 2rem;
    text-align: center;
    
    
    
}
.a00:hover:active{
    color:blue;
    text-decoration-line: underline;
    
    transition: all ,2s;
}

.a01:hover:active{
    color:blue;
    text-decoration-line: underline;
    transition: all ,2s;
    
}
.a02:hover:active{
    color:blue;
    text-decoration-line: underline;
    transition: all ,2s;
}
.a00{
    
    padding-right: 1.5rem;
}
.a02{
    padding-left: 1.5rem;
}
.cuerpo00{
    /*background-color: var(--colorterc);*/
    padding-top: 10rem;
    margin-top: 1rem;
    box-sizing: border-box;
    height: 100vh;
    z-index: 2;

    

}
.texto-cuerpo00{
    margin-top:-40rem;
    padding:2rem ;
    
    display: block;
    color:white ;
    

}
.video00{
    width: 100%;
    
    z-index: 1;
    opacity: .85;

    
}

/*nuestros servicios*/
.nuestrosservicios{
background-color: var(--colorprin);
margin-top: 20rem;
padding-top: 10rem;
width: 100%;
height: 45%;
box-sizing: border-box;

}
.h2{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    box-sizing: border-box;
}
/*articulo 0*/
.art00{
    background-color: var(--colorsegun);

}
.sect00{
    background-color:var(--colorart) ;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    box-sizing: border-box;
    display: inline-block;
    
}
.sect00:hover:active{
    box-shadow: 15px 15px 15px 0 rgba(0,0,0.10);
    transition: all ,1s;
}
.h3{
    text-align: center;
    font-size: 1.6rem;
   
}
.ph3{
    text-align: left;
    font-size: 1.2rem;
    margin-left: .7rem;

}


.sect01{
    background-color:var(--colorart) ;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    
    box-sizing: border-box;
    display: inline-block;
    float: right;
    
}
.sect01:hover:active{
    box-shadow: 15px 15px 15px 0 rgba(0,0,0.10);
    transition: all ,1s;
}
.sect01:{
    transition: all ,1s;
}
.h31{
    text-align: center;
    font-size: 1.6rem;

}
.ph31{
    text-align: left;
    font-size: 1.2rem;

}
.sect02{
    background-color:var(--colorart) ;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    box-sizing: border-box;
    display: inline-block;

}
.sect02:hover:active{
    box-shadow: 15px 15px 15px 0 rgba(0,0,0.10);
    transition: all ,1s;
}
.h32{
    text-align: center;
    font-size: 1.6rem;

}
.ph32{
    text-align: left;
    font-size: 1.2rem;

}
.sect03{
    background-color:var(--colorart) ;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    
    box-sizing: border-box;
    display: inline-block;
    float: right;

}
.sect03:hover:active{
    box-shadow: 15px 15px 15px 0 rgba(0,0,0.10);
    transition: all ,1s;
}
.h33{
    text-align: center;
    font-size: 1.6rem;

}
.ph33{
    text-align: left;
    font-size: 1.2rem;

}
.sect04{
    background-color:var(--colorart) ;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    box-sizing: border-box;
    display: inline-block;

}
.sect04:hover:active{
    box-shadow: 15px 15px 15px 0 rgba(0,0,0.10);
    transition: all ,1s;
}
.h34{
    text-align: center;
    font-size: 1.6rem;

}
.ph34{
    text-align: left;
    font-size: 1.2rem;

}
.sect05{
    background-color:var(--colorart) ;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    box-sizing: border-box;
    display: inline-block;
    float: right;

}
.sect05:hover{
    box-shadow: 15px 15px 15px 0 rgba(0,0,0.10);
    transition: all ,1s;
}
.h35{
    text-align: center;
    font-size: 1.6rem;

}
.ph35{
    text-align: left;
    font-size: 1.2rem;
}
.fomumap00{

}
.pmap00{

}
.mapa00{
    display: inline-block;
}
.botton00{
    background-color: yellow;
    display: inline-block;
    float: right;
    margin-right: 28rem;
    position: relative;
    bottom: 16rem;
    

    
    
    
  
}
.aform00{
  
}
.pbotton{
   color: white; 
}
/*aca empieza el resposive para celular*/
@media screen and (max-width:500px)
{
    body{
    
    }
    .barra00{
        
        position: fixed;
    }
    .cuerpo00{
       height: 31rem;
    }
    .video00{
        width: 31rem;
        
        z-index: 1;
        opacity: .85;
    }
    .texto-cuerpo00{
        margin-top: -9rem;
        z-index: 2;
        font-size: 1.4rem;
    }
    .nuestrosservicios{
        width: 31rem;
        margin-top: 2rem;
    }
    .h2{
        margin-bottom: 7rem;

    }
    .art00{

    }
    .sect00{
        width: 40%;
      
    }
    .h3{

    }
    .sect01{
        width: 40%;
    }
    .h31{

    }
    .ph31{

    }
    .sect02{
        width: 40%;

    }
    .h32{

    }
    .ph32{

    }
    .sect03{
        width: 40%;

    }
    .h33{

    }
    .ph33{

    }
    .sect04{
        width: 40%;

    }
    .h34{

    }
    .ph34{

    }
    .sect05{
        width: 40%;
    }
    .h35{

    }
    .ph35{

    }
    .fomumap00{

    }
    
    .texto-mapa00{
       color: white;
       text-align: center;
       margin-top: 7rem;
       margin-left: 10rem;
    }
    .mapa00{
        width: 100%;
        margin: 5rem;
    }
    .botton00{
      background-color: var(--colorart);
      color:white;
      width: 30%;
      height: 20%;
      margin-top: 10rem;
      display:inline;
    }
    .aform00{

    }
    .pbotton{
       color: white;
    }
}