:root{
    --colorprin:rgba(107,7,2,42);
    --colorsegun:rgba(184,13,4,72);
    --colorterc:rgba(125,125,125,42);
    --colorart:rgba(97,25,25,38);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}
.encabezado00{
    background-color: var(--colorprin);
    color:white;
    text-align: center;
    position: fixed;
    width: 100%;
    margin-top: -20rem;
}
.img00{
  width:10rem ;
  
}
.h100{

}
.nav00{
    background-color: var(--colorsegun);
    height: 40px;
}

a{
    text-decoration-line: none;
    color:black;
    font-size: 2rem;
    text-align: center;
    

}
.a00:hover{
    color:white;
    text-decoration-line: underline;
    border: 2px solid white;
    border-radius: 10px ;
    /*transition: all ,2s;*/
    margin-right: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
  
}
.pv{
    
}
.contactoredes00{
    margin-top: 20rem;
    height:400px;
    
}
.aface{
   color: white;
   text-align: left;
   display: inline-block;
   margin-left: 5rem;
}
.imgf{
    width: 8rem;

}
.pface{
    font-size:1.8rem ; 
}

.ains{
  color: white; 
  
  float: right; 
  margin-right: 5rem;

}
.imgi{
    width: 8rem;

}
.pins{
    font-size:1.8rem ;
    
}
.pemail{
    float: right;
    display: inline-block;
    margin-right: 13rem;
    text-align: center;
    

}
.imgemail{
    width: 8rem;
}
.pcorreo{
    color: white;
    font-size: 1.5rem;
    margin-right: 5rem;
    text-align: center;
    
}
.pmap00{
    color:white;
    text-align: center;
    font-size: 2rem;
}
.contacto-mapa00{
    border-radius: 10px;
    margin-bottom: 10rem;
    margin-left: 25rem;
    text-align: center;
}