/*aca empieza el resposive para celular*/
@media screen and (max-width:360px)
{
    html{
        
    }
    body{
        margin: 0;
        width: 360px;
        background-color: black;
        font-family: 'Roboto', sans-serif;
    }
    .barra00{
        
        position: fixed;
    }
    .barra01{
        width: 360px;
        
    }
    .cuerpo00{
        width: 360px;
        display: inline-block;
        margin-top: 10rem;
    }
    .video00{
        display: inline-block;
        width: 360px;
    
       z-index: 1;
       opacity: .84;
    }
    .texto-cuerpo00{
        display: block;
        margin-top: -15rem;
    
        
    }
    .nuestrosservicios{
        width: 360px;
        
        
        
    }
    .h2{
       

    }
    .art00{
        width: 360px;
        height: 1190px;
    }
    .sect00{
        width: 90%;
      
    }
    .h3{

    }
    .sect01{
        width: 90%;
    }
    .h31{

    }
    .ph31{

    }
    .sect02{
        width: 90%;

    }
    .h32{

    }
    .ph32{

    }
    .sect03{
        width: 90%;

    }
    .h33{

    }
    .ph33{

    }
    .sect04{
        width: 90%;

    }
    .h34{

    }
    .ph34{

    }
    .sect05{
        width: 90%;
    }
    .h35{

    }
    .ph35{

    }
    .mapacoti00{
        width: 360px;
        height: 600px;
    }
    .fomumap00{
    
    }
    
    .texto-mapa00{
       width: 12rem;
       height: 3rem;
       display: inline-block;
       margin-top: 5rem;
    }
    .mapa00{
        width: 80%;
        height: 80%;
        margin-left: 2rem;
        margin-top: 2rem;
        display: inline-block;

        
    }
    .botton00{
      display: inline-block;
      margin-left: 6rem;
      margin-top: 20rem;
    }
    .aform00{
       
    }
    .pbotton{
    }
    .creditos{
        display: inline-block;
        width: 360px;
    }
}