:root{
    --colorprin:rgba(107,7,2,42);
    --colorsegun:rgba(184,13,4,72);
    --colorterc:rgba(125,125,125,42);
    --colorart:rgba(97,25,25,38);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

.p00{
padding:10px;
text-align: right;
background-color: var(--colorsegun);
margin: 0;
}
.spam00{
 
}
.img00{
    width: 10rem;
}
.barra01{
    background-color: var(--colorprin);
    text-align: center;
    position: fixed;
    width: 100%;
    /*height: 10vh;esto es temporal  para acompdar el 
    cuerpo00*/
    margin-top: -1rem;
    box-shadow: 0 15px 15px 0 rgba(0,0,0.10);
    z-index: 2;
    
    
}
.nav00{
    background-color: var(--colorprin);
    text-align: center;
    
    bottom: 0.5rem;
    
}
a{
    text-decoration-line: none;
    color:black;
    font-size: 2rem;
    text-align: center;
    
    
    
}
.a00:hover{
    color:blue;
    text-decoration-line: underline;
    
    transition: all ,2s;
}

.a01:hover{
    color:blue;
    text-decoration-line: underline;
    transition: all ,2s;
    
}
.a02:hover{
    color:blue;
    text-decoration-line: underline;
    transition: all ,2s;
}
.a03:hover{
    color:blue;
    text-decoration-line: underline;
    transition: all ,2s;
}
.a00{
    
    padding-right: 1.5rem;
}
.a02{
    padding-left: 1.5rem;
}
.a03{
    padding-left: 1.5rem;
}
.cuerpo00{
    /*background-color: var(--colorterc);*/
    padding-top: 10rem;
    margin-top: 1rem;
    box-sizing: border-box;
    height: 100vh;
    z-index: 2;

    

}
.texto-cuerpo00{
    margin-top:-40rem;
    padding:2rem ;
    
    display: block;
    color:white ;
    

}
.video00{
    width: 100%;
    
    z-index: 1;
    opacity: .84;

    
}

/*nuestros servicios*/
.nuestrosservicios{
background-color: var(--colorprin);
margin-top: 20rem;
padding-top: 20rem;
width: 100%;
height: 45%;
box-sizing: border-box;

}
.h2{
    color: white;
    text-align: center;
    font-size: 2.5rem;
    box-sizing: border-box;
}
/*articulo 0*/
.art00{
    background-color: black;

}
details:hover{
    background-color: black;
    border: 1px solid white;
}
.sect00{
    border: 2px solid white;
    border-radius:10px;
    color:white;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    box-sizing: border-box;
    display: inline-block;
    
}
.sect00:hover{
    box-shadow: 15px 15px 15px 0 white;
    transition: all ,1s;
}
.h3{
    text-align: center;
    font-size: 1.6rem;
   
}
.ph3{
    text-align: left;
    font-size: 1.2rem;
    margin-left: .7rem;

}


.sect01{
    border: 2px solid white;
    border-radius:10px;
    color:white;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    
    box-sizing: border-box;
    display: inline-block;
    float: right;
    
}
.sect01:hover{
    box-shadow: 15px 15px 15px 0 white;
    transition: all ,1s;

}
.sect01:{
    transition: all ,1s;
}
.h31{
    text-align: center;
    font-size: 1.6rem;

}
.ph31{
    text-align: left;
    font-size: 1.2rem;

}
.sect02{
    border: 2px solid white;
    border-radius:10px;
    color:white;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    box-sizing: border-box;
    display: inline-block;

}
.sect02:hover{
    box-shadow: 15px 15px 15px 0 white;
    transition: all ,1s;
}
.h32{
    text-align: center;
    font-size: 1.6rem;

}
.ph32{
    text-align: left;
    font-size: 1.2rem;

}
.sect03{
    border: 2px solid white;
    border-radius:10px;
    color:white;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    
    box-sizing: border-box;
    display: inline-block;
    float: right;

}
.sect03:hover{
    box-shadow: 15px 15px 15px 0 white;
    transition: all ,1s;
}
.h33{
    text-align: center;
    font-size: 1.6rem;

}
.ph33{
    text-align: left;
    font-size: 1.2rem;

}
.sect04{
    border: 2px solid white;
    border-radius:10px;
    color:white;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    box-sizing: border-box;
    display: inline-block;

}
.sect04:hover{
    box-shadow: 15px 15px 15px 0 white;
    transition: all ,1s;
}
.h34{
    text-align: center;
    font-size: 1.6rem;

}
.ph34{
    text-align: left;
    font-size: 1.2rem;

}
.sect05{
    border: 2px solid white;
    border-radius:10px;
    color:white;
    width: 45%;
    height: 10rem;
    margin:1.2rem;
    box-sizing: border-box;
    display: inline-block;
    float: right;

}
.sect05:hover{
    box-shadow: 15px 15px 15px 0 white;
    transition: all ,1s;
}
.h35{
    text-align: center;
    font-size: 1.6rem;

}
.ph35{
    text-align: left;
    font-size: 1.2rem;
}
.mapacoti00{
    background-color: var(--colorsegun);
    height: 30rem;
}
.fomumap00{
    margin: 5rem;

}
.pmap00{

}
.mapa00{
    display: inline-block;
    border-radius: 10px;
}
.botton00{
    
    position: relative;
    bottom: 19rem;
 
}
.aform00{
    border: 1px solid white;
    border-radius: 40px;
    display: inline-block;
    float: right;
    margin-right: 17rem;/*aca mover voton eje y*/
 
}
.aform00:hover{
    background-color: aqua;
}
.pbotton{
   color: white; 
}
.creditos{
    background-color: var(--colorsegun);
    color: white;
    width: 580px;
    height: 80px;
}
.creditos00{
    display: inline-block;
    margin-top:1rem;
    margin-left: 1rem;

}
/*esto es para los creditos aun no me decido 
como realizarlo*/