@media screen and (device-width:375px)
{
    html{
        
    }
    body{
     max-width: 375px;
        
    }
   
    .barra01{
        display: inline-block;
        font-size: 1rem;
        max-width: 375;
        
        
    }
    .p00{
        
        width: 375px;

    }
    .nav00{
        
        width: 375;
    }
    a{
        font-size: 1rem;
    }
    .cuerpo00{
        width: 375px;
    
        
    }
    .video00{
       
        width: 375px;
       
    
        z-index: 1;
        opacity: .84;
        
    }
    .texto-cuerpo00{
        
        font-size: .5rem;
        
    
       
    }
    .nuestrosservicios{   
        width: 375px;
        
    }
    .h2{
       

    }
    .art00{
        height: 1200px;
       
    }
    .sect00{
       width: 90%;
      
    }
    .h3{

    }
    .sect01{
        width: 90%;
        
    }
    .h31{

    }
    .ph31{

    }
    .sect02{
        width: 90%;
        

    }
    .h32{

    }
    .ph32{

    }
    .sect03{
        width: 90%;
        

    }
    .h33{

    }
    .ph33{

    }
    .sect04{
        width: 90%;
        

    }
    .h34{

    }
    .ph34{

    }
    .sect05{
        width: 90%;
        
    }
    .h35{

    }
    .ph35{

    }
    .mapacoti00{
        width: 375px;
    }
    .fomumap00{
        
    
    }
    
    .texto-mapa00{
        
        
        
       
        
    }
    .mapa00{
        

        
    }
    .botton00{
         
    }
    .aform00{
       
    }
    .pbotton{
    }
    .creditos{
        width: 375;
    }
















}